# Compiled class file
*.class

# Log file
*.log

*.iml

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/
/.metadata/
/.recommenders/

ClientRcmdWebService/target
ClientRcmdWebService/target/*
ClientRcmdWebService/*.iml

RcmdStat/target
RcmdStat/target/*
RcmdStat/*.iml
